<header class="navbar navbar-expand-lg navbar-light bg-light px-5 mb-4 border-bottom">
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse justify-content-start" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Recipes", recipes_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Foods", foods_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Shopping Lists", shoppings_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <% if signed_in? %>
          <li class="nav-item">
            <%= link_to "Edit Profile", edit_user_registration_path, class: "nav-link btn btn-sm text-outline-light btn-secondary", role:"button" %>
          </li>
          <li class="nav-item">
            <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link btn btn-secondary btn-sm btn-outline-warning" %>
          </li>
        <% else %> 
          <li class="nav-item">
            <%= link_to "Public Recipes", public_recipes_path, class: "nav-link " %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign In", new_user_session_path, class: "nav-link btn btn-success" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-link btn btn-info" %>
          </li>
        <% end %>
      </ul>
    </div>
  </header>