<div id="<%= dom_id(food) %>" class="card m-3">
  <div class="card-body">
    <h5 class="card-title m-3 text-primary display-4 "><strong><%= food.name %></strong> </h5>
    <p class="card-text mx-3"><strong>Measurement unit:</strong> <%= food.measurement_unit %></p>
    <p class="card-text mx-3"><strong>Price:</strong> <%= food.price %></p>
    <p class="card-text mx-3"><strong>Quantity:</strong> <%= food.quantity %></p>
    <p class="card-text mx-3"><strong>Owner:</strong> <%= food.owner_id %></p>
  </div>
</div>
